@{
    ViewBag.Title = "About";
}
    <div class="text-center">
        <h1>Motivation</h1>
        <p>
            Our journey began with a lecture of Data Structures and Algorithms back in 3rd Semester of the BS(CS) degree 2017. Dr. Afzal asked a question while whole class was jotting down his lecture. He thought that class in inactive or inattentive to what he was speaking. We were whispering 'What he has asked?'. Lecture was being delivered too quickly. We decided to record the video using a smartphone. The most compact size of the video was 1GB with 1hr duration. That big size caused storage issues for most of the students. Also we wanted to live stream the lecture but mediocre internet connection did not allowed us to do that. We tried to compress the video that caused quality issues. We decided to record only what we needed and then we came up with the idea of <b>Digital Board Marker</b>
        </p>
        <h1>Who we are?</h1>
        <p>
            We are a team of hardworking, collaborative and cooperative members who are always ready to work in competitive environment. Currently we are working on Digital Board Marker. We are here to deliver unique set of solutions and services within your organization. We put your first. We won your trust as our reward.
        </p>
        <h1>Our Team</h1>
        <div class="container">
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/Resources/images/Hamza.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Hamza Farooq</h5>
                            <div class="card-text text-black-50">Team Member</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/Resources/images/Haris.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Haris Khan</h5>
                            <div class="card-text text-black-50">Team Member</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/Resources/images/Komal.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Komal Shehzadi</h5>
                            <div class="card-text text-black-50">Team Member</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/Resources/images/Ayesha.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Ayesha Atif</h5>
                            <div class="card-text text-black-50">Team Member</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </div>
