@{
    ViewBag.Title = "Contact";
}
    <div class="text-center">
        <address>
            University of Engineering and Technology, Main Campus<br />
            GT Rd. 54000<br />
            <abbr title="Phone">P:</abbr>
            (042) 99029227
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Contact@example.com</a><br />
        </address>
    </div>
