@{
    ViewBag.Title = "DBM - Home";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-md-0">
                <img src="~/Resources/images/watch.png" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">Belive in Technology, Make the change</h1>
                    <p class="mb-4">Digital Board Marker is a storage effiecient lecture recording system. It saves the storage up to 100 times as compared to the conventional high definition video. It can live stream the lecture while using very low internet bandwidth and hence saving the internet data.</p>
                    <a class="btn btn-main" href="#about" role="button">Pre-Order Now</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Our Core Features</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
                    <h4 class="font-weight-bold mb-2">Smooth Touch</h4>
                    <p>Highly responsive design that provide both the recorder and viewer easy-to-use and convenient environment</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
                    <h4 class="font-weight-bold mb-2">Elegant Design</h4>
                    <p>Graceful and stylish design in appearance as well as in the state of being used.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
                    <h4 class="font-weight-bold mb-2">Easy Pricing</h4>
                    <p>Less expensive rather feature rich product, perfect for the desired as well as described application.</p>
                </div>
            </div>
            <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                <img class="img-fluid" src="~/Resources/images/watch-2.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
                    <h4 class="font-weight-bold mb-2">Highly Responsive</h4>
                    <p>Semi autonomouse functionality, speedy reconnection. Hardware modules connect each other and act as singl unit</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
                    <h4 class="font-weight-bold mb-2">Cross-Platform</h4>
                    <p>Provides support of launch on multiple platforms such as Microsoft Windows and Cloud</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
                    <h4 class="font-weight-bold mb-2">Multi-Format Content</h4>
                    <p>It can be operated online, downloaded and played offline and live stream online</p>
                </div>
            </div>
        </div>
    </div><!-- .container close -->
</section><!-- #service close -->
<section class="bg-orange section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/Resources/images/watch.png" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h2 class="subheading text-white font-weight-bold mb-10">
                        Designed by professional , the benefit
                        for creative gigs
                    </h2>
                    <p class="text-white">Our top Programmers, Scientists and Engineers Lead and manage a programming team at technical and personnel level. Determine the technical needs for the team to work on a project assigned or third party middleware. Setup a process to review the game on a regular interval during development cycle and identify area of improvement</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Why Choose DBM</h2>
                </div>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/Resources/images/showcase-4.png" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Highly Adaptive Product</h4>
                    <p>DBM can turn any plane surface into a touchpad. It does not record the video. It does not compress the video. It does not record the video so no compromise on quality. Software applications are responsive and adaptive to almost any screen size and resource specifications</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Multiple modules, United environment</h4>
                    <p>
                        Carefully designed each module to make it highly adaptive and responsive. Each requirement is surveyed before choosing a specific building component.
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/Resources/images/showcase-3.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="call-to-action section bg-opacity bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 text-center mx-auto">
                <h2 class="subheading text-white">Get Product Updates</h2>
                <p class="text-white">Send us your requirements and we will give you a quote</p>
                <div class="input-group">
                    <form action="#" class="w-100">
                        <input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address Here" required>
                        <button class="btn btn-main btn-submit" type="submit">Subscribe</button>
                    </form>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</section><!-- #call-to-action close -->
<section class="testimonials section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="heading">
                    <h2>DBM Review</h2>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                <div class="testimonial-block">
                    <i class="tf-ion-quote"></i>
                    <p>
                        Lightweight and high performance product. Rich with features and still underweight marker product. So smooth on glossy as well as matte surface. Good grip, Seemless technology provide the writer as regular marker holding. no additional practice or care is required.
                    </p>
                    <div class="author-details">
                        <img src="~/Resources/images/avater.png" alt="">
                        <h4>Hamza Nasir</h4>
                        <span>DBM Customer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                <div class="testimonial-block">
                    <i class="tf-ion-quote"></i>
                    <p>
                        Absolutely fresh entry in the market. Fast, Efficient and secure. Easy to install and setup. Quickstart guide is written well. A well managed and well designed product. Less expensive and feature rich product make it powerful to compete the further entries in the IT existing market.
                    </p>
                    <div class="author-details">
                        <img src="~/Resources/images/avater.png" alt="">
                        <h4>Aqsa</h4>
                        <span>DBM Customer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                <div class="testimonial-block">
                    <i class="tf-ion-quote"></i>
                    <p>
                        Exciting look, Easy to use and fulfill the needs of client and consumer equally. Most advanced yet easy to use user interface. User friendly design of the product make it more attractive. I would definitely recommend the product because the performance to price ratio is very good.
                    </p>
                    <div class="author-details">
                        <img src="~/Resources/images/avater.png" alt="">
                        <h4>Aisha Farooq</h4>
                        <span>DBM Customer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-100">
            <div class="col-md-12 text-center">
                <a href="" class="btn btn-main">Pre-Order the Product Now</a>
            </div>
        </div>
    </div>
</section>